.photo{
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 30%;
    vertical-align: middle;
    overflow: hidden;
   padding-left: 4%;
}
.photo img{
    width: 100%;
}
#profile{
    text-align:justify;
    padding-left: 20%;
}
#banner{
    height:40px;
    width:900px;
    background-color: aqua;
}
#profile{
   
    background: url('../../../../../assets/img/3d-perspective-style-diamond-shape-white-background_1017-27556.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;

}