@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.py-5{
    padding: 140px;
    padding-top: 12%;
    height: 150%;
    background-image: url('../../assets/img/talent-man.svg');
   
    background-repeat: no-repeat;
    background-position: left;
}
#spl{
   padding-left: 10%;
   padding-top: 6%;
}
#spr{
    width: 100%;
}
@media (max-width: 768px) {
    #spr{
        width: max-content;
        padding: 4%;
        padding-bottom: 20%;
    }
    .card-body{
       
        width: 100%;
        display: inline-flex;
    }
    #row{
        width: max-content;
     
        
    }
   .py-5{
     
    width:max-content;
   }
    
}
.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
