<section >
    
  <br>
  <div class="row">
      <div class="col-12 col-md-2 ">

      </div>
      <div class="col-12 col-md-4 txt1">
          <h2>We're here to make hiring a little easier.</h2>
        <br>
        <h3 style="color: rgb(1, 1, 119);"><strong>Let's Make Your Next Great Hire. Fast!</strong></h3>
        <br>
        <h5>You know who you're looking for. We'll help you find them.</h5>
       
        </div>
        <div class="col-12 col-md-6">
          <div class="">
              <img 
            src="../../../../../assets/img/emp.png" alt="">
          </div>
        </div>
  </div>
</section>
















<!-- <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3]">
            
        <mat-card class="mat-elevation-z4" >
          <mat-card-header>
            <mat-card-title>Mountains {{num}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../../../assets/img/job-application-platform.jpg">
          <mat-card-content>
            <p>
              The Himalayas is a mountain range in Asia.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    </div>  -->
