
    
      <section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container position-relative" id="tkr">
    
    <p style="font-size: 94px;color: white;;">We Are</p><br>
    <p style="font-size: 93px;color: white;">Here For You!</p><br>
    <!-- <p style="font-size: 95px;padding-top: 28px;color:white;">For You!</p><br> -->
   
    <p style="font-size: 23px;color: darkseagreen;">Passion is the difference between having a Career and having a Job</p><br>
    <img src="../../../../../assets/img/work3.png">
  </div>
</section><!-- End Hero -->








<!-- <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3]">
            
        <mat-card class="mat-elevation-z4" >
          <mat-card-header>
            <mat-card-title>Mountains {{num}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../../../../assets/img/job-application-platform.jpg">
          <mat-card-content>
            <p>
              The Himalayas is a mountain range in Asia.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    </div>  -->
