<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container position-relative">
      <h1>Welcome to ICTAK</h1>
      <h2>Your Future Starts Here.Find your next job or career</h2>
      <a routerLink="/login" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->
  <main id="main">
    
      <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients section-bg">
        <div class="container">
    
          <div class="row">
    
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
            </div>
    
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
            </div>
    
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
            </div>
    
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
            </div>
    
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
            </div>
    
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
            </div>
    
          </div>
    
        </div>
      </section><!-- End Clients Section -->
 



      
      <!-- Aboutus  -->
      <div class="abt">
        <div class="row">
          <div class="col-12 col-md-2">
          </div>
          <div class="col-12 col-md-6 abttxt">
            <h1 id="txth1"><strong>About us</strong></h1>
            <h3>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India ,
               partnered by Govt. of Kerala and the IT industry.</h3>
          </div>
          
        <div class="col-12 col-md-4">
          <img src="../../assets/img/jobsearch.webp" alt="">
        </div>
          
        </div>
      </div>
      <!-- About us -->
      <!-- job -->
      <div class="serc">
        <div class="row">
          <div class="col-12 col-md-2">
          </div>
          <div class="col-12 col-md-4">
            <br>
            <img src="../../assets/img/searc.webp" alt="">
          </div>
          <div class="col-12 col-md-6 abttxt2">
            <br>
            <h1 id="txth1"><strong>Discover a new career Designed for you.</strong></h1>
            <h3>We're looking to grow our teams with people who share our energy and enthusiasm for creating the best experience for job seekers and employers.</h3>
             <div class="text-center justify-content-center">
                <a routerLink="#" class="btn  btn-outline-danger">Explore jobs</a>
               </div>
              
          </div>
          
       
          
        </div>
      </div>
    
      <!-- job -->
      <!--carousel -->
      <div class="caro">
      
        <div id="carouselExampleCaptions" class="container carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <img src="../../assets/img/imgg.svg" alt="" style="width: 10%;">
                <h1 id="txth1"><strong>I AM AN ALUMINI </strong></h1>
                <h2>Signed in job Seekers are able to post resumes,apply for job and many more..</h2>
                <a routerLink="register-alumni" class="btn  btn-outline-danger">REGISTER</a>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../../assets/img/hire_.jpeg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <img src="../../assets/img/hand.png" alt="" style="width: 10%;">
                <h1 id="txth1"><strong>I AM AN EMPLOYER </strong></h1>
               <h2>Signed in companies are able to post new job offers,get list of candidate...</h2>
                <a routerLink="register-employer" class="btn  btn-outline-danger">REGISTER</a>
              </div>
            </div>
            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    
    
     
      <!-- carousel -->
      
        
          
         
      
        
  <br><br><br>
    </main>
